
.top-container{
    background-color: white;
}
.createContract{
    background-color: #e0e0e0;
    margin:20px 0 0 0;
    padding:20px;
}
.CCaddress{
    top: 50px;
    margin-bottom: 70px;
    
}
.textArea{
    outline:none;
    box-shadow:none;
    border:0;
    border-radius: 0;
    min-height: 150px !important;
}
.textArea:focus{
    outline:none;
    box-shadow:none;
    border:0;
}
.CCcontent{
    background-color: blueviolet;
    padding: 10px;
    color: white;
}
.CCprevious{
    margin-top:12px;
    border-radius: 0;
    background-color:#ff7d7d; 
    color: white;
    margin-right:12px;
}
.CCProceed{
    margin-top:12px;
    border-radius: 0;
    background-color:#1b2443;
    color: white;
}



