.walletCB{
    position: relative;
    top: 50px;
    margin-bottom: 70px;
}
.walletAmount{
    float: right;
}
.inputForm{
    outline:none;
    box-shadow:none;
    border:0;
    border-radius: 0;
}
.customLabelStyle{
    margin-bottom: 30px;
    margin-right: 60px;
}
input[type=radio] {
    width: 20px;
    height: 20px;
}
.radioStyle{
    position: relative;
    top:-5px;
    left:12px;
}

.wPrevious{
    margin-top:12px;
    border-radius: 0;
    background-color:#ff7d7d; 
    color: white;
    margin-right:12px;
}
.wPurchase{
    margin-top:12px;
    border-radius: 0;
    color: white;
}